@model Hospital4.Models.bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>bill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.billAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.billAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.patientID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.patientID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.billID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
