@model Hospital4.Models.room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roomCapacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomCapacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.availability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.availability)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.roomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
